.gameboard {
    border: 4px solid white;
    display: grid;
    grid-gap: 12px;
    padding: 12px;
}

.gameboard .card__title--flipped {
    display: none;
}

.gameboard.gameboard--bidirectional .card__title--flipped {
    display: flex;
}