fieldset {
    border: 0px;
    border-radius: 16px;
    background-color: var(--lighter-primary-color);
    position: relative;
}

#settings {
    align-items: stretch;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.required {
    color: red;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.menu {
    background-color: var(--light-primary-color);
    overflow-y: scroll;
    padding: 0 1rem 1rem 1rem;
    position: fixed;
    text-align: center;
    top: 0;
    right: 100vw;
    bottom: 0;
    left: -33vw;
    transition: left 0.5s, right 0.5s;
}

.menu--shown {
    left: 0vw;
    right: 67vw
}

.menu__close {
    cursor: pointer;
    font-size: 48px;
    grid-area: "title";
}

.menu__header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title" "close"
        "version" "none";
    margin: 1rem 0;
    text-align: left;
}

.menu__header > * {
    margin: 0;
}

.menu__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 67vw;
}

.menu__version {
    opacity: 50%;
}