$background-color: #121212
$default-spacing: 1.25rem
$text-color: white
$grid-height: 85vh
    
body
    background-color: $background-color
    color: $text-color
    
#codenames-grid
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: repeat(5, 1fr)
    grid-gap: $default-spacing $default-spacing

    height: calc($grid-height - $default-spacing)
    margin-left: $default-spacing
    margin-right: $default-spacing
    margin-bottom: $default-spacing

/* CSS styling for the cards */

.card
    display: grid
    position: relative
    align-items: center
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black

.card-screen
    display: none
    position: absolute
    background-color: black
    width: 100%
    height: 100%
    opacity: 50%

.unclicked-card:hover
    .card-screen
        display: block

.clicked-card
    .card-screen
        display: block
        opacity: 100%

    .card-text
        opacity: 50%

.clicked-card.red
    .card-screen
        background-color: red

.clicked-card.blue
    .card-screen
        background-color: blue

.clicked-card.nuetral
    .card-screen
        background-color: silver
        
.clicked-card.nuetral
    .card-screen
        background-color: dark-gray

/* End of styling for cards */

#begin-menu
    display: grid
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    text-align: center

#header
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    align-items: center

    padding: $default-spacing

    text-align: center

#seed
    opacity: 50%