{% extends "main/page.html" %}

{% block title %}Codenames Gameboard{% endblock %}

{% block head %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/gameboard.css' %}">
    <script src="{% static "main/javascript/gameboard.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="gameboard">
        <div id="header">
            <div id="back-button">
                <a href="{% url 'index' %}">
                    <button type="button" class="btn btn-primary small-text">Generate New Board</button>
                </a>
            </div>
            <h1 id="gameboad-title">Codenames</h1>
            <div id="options">
                <button type="button" id="solution-button" class="btn btn-light small-text">View Solution</button>
                <div id="seed">Seed: {{ seed }}</div>
            </div>
        </div>
        <div id="{{ first_player }}-codenames-grid-container">
            <div id="codenames-grid" class="rounded-corners">
                {% for color in colors %}
                    <div class="codename-card" data-color="{{ color }}" >
                        <div class="card-content-container">
                            <div class="card-text-box-top">
                                {% if card.title|length < 18 %}
                                    <div class ="card-text small-text"></div> 
                                {% else %}
                                    <div class ="card-text micro-text"></div>
                                {% endif %}
                            </div>
                            <div class="card-text-box-bottom">
                                {% if card.title|length < 18 %}
                                    <div class ="card-text small-text"></div> 
                                {% else %}
                                    <div class ="card-text micro-text"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-texture"></div>
                        <div class="card-screen"></div>
                        <div class="card-cross"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="rotate-message">
        <h1>Codenames</h1>
        <div>Please Rotate Your Device</div>
        <div class="small-text">(If your device is already rotated, you may need a wider screen)</div>
    </div>
{% endblock %}