{% extends "main/page.html" %}

{% block title %}Codenames Gameboard{% endblock %}

{% block content %}
    {% if first_player == "red" %}
    <div class="red-gameboard">
    {% else %}
    <div class="blue-gameboard">
    {% endif %}
        <div id="header">
            <div id="back-button">
                <a href="{% url 'index' %}">
                    <button type="button" class="btn btn-primary">Generate New Board</button>
                </a>
            </div>
            <h1 id="gameboad-title">Codenames</h1>
            <div id="options">
                <a href="{% url 'gameboard' %}?seed={{ seed }}&deck={{ selected_deck }}&solution={{ viewing_solution|yesno:"false,true" }}">
                    {% if viewing_solution == True %}
                        <button type="button" class="btn btn-light">View Gameboard</button>
                    {% else %}
                        <button type="button" class="btn btn-light">View Solution</button>
                    {% endif %}
                </a>
                <div id="seed">Seed: {{ seed }}</div>
            </div>
        </div>
        <div id="codenames-grid">
            {% for card in cards %}
                <div class="card text-center bg-secondary {{ click_option }} {{ card.type }}" onclick="clickCard(this);">
                    <div class="card card-screen"></div>
                    <h3 class ="card-text">{{ card.title }}</h3>
                </div>
            {% endfor %}
        </div>
        <script>
            function clickCard(e) {
                e.classList.add('clicked-card');
                e.classList.remove('unclicked-card');
            }
        </script>
    </div>
    <div id="rotate-message">
        <h1>Codenames</h1>
        <div>Please Rotate Your Device</div>
    </div>
{% endblock %}